@font-face {
    font-family: "Manrope";
    src: url("./assets/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
    font-weight: 200 800; /* диапазон для variable font */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pixelify Sans";
    src: url("./assets/fonts/PixelifySans-VariableFont_wght.ttf") format("truetype");
    font-weight: 400 700; /* если не знаешь точный диапазон, можно оставить 100 900 */
    font-style: normal;
    font-display: swap;
}

html, body {
    font-family: "Manrope", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}